.removerow,.addrow{
	font-weight: bold;
}
body {
    background-color: #FFFFFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #000;
}



.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #e7e7e7;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #337AB7;
}

.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
    color: #fff;
    background-color: #337AB7;
}

.side-nav {
    background-color: #e7e7e7;
	width: 230px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #337AB7;
	font-weight: bold;
	width: 100%;
}
.navbar-inverse .navbar-nav>li {
   width:100%;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #337AB7;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #fff !important;
    background-color: #337AB7 !important;
}

.navbar-inverse .navbar-brand {
    color: #337AB7;
}